:root {
    --main-color: #333;
    /* --main-background-color: #fd2f73; */
    background: #fff;
    --decore-color: #cfff24;
    --background-color: #fff;
    --font-size: 16px;
    --max-width: 1400px;
    --padding: 10px;
    --border: 1px solid var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
}

main {
    background: var(--main-background-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
