:root {
    --size: 50px;
    --transition: all 0.2s ease;
    --color: #ff048242;
}

input {
    display: none;
}

main {
    background: var(--color);
    
}

menu{

    label{
        svg:nth-child(1){
            opacity: 1;
            transition: all .1s;
        }
        svg:nth-child(2){
            opacity: 0;
            transition: all .1s;
        }

    }
    input:checked ~ ul{
        label{
            svg:nth-child(1){
                opacity: 0;
            }
            svg:nth-child(2){
                opacity: 1;
            }

        }
    }
}



ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
        background: inherit;
        overflow: hidden;
        cursor: pointer;
        padding :10px;
        &:hover {
            background: red;
        }

        label,
        a {
            display: block;
            position: relative;
            display: block;
            width: var(--size);
            height: var(--size);
            cursor: inherit;

            .icon {
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                path {
                    fill: #fff;
                }
            }
        }
    }
}